<% Post.where(category_id: 2).order(total: :desc).each do |post| %>
  <%= link_to post, id: "content-links", :action => 'go' do %>
    <div class="title-section" id="service-color">
      <div class="section-description" id="service-color">
        <div id="post-topic"><%= post.topic %></div>
        <div id="post-title"><%= post.title %></div>
      </div>
      <div class="number-comments" id="service-round-color">
        <div id="number-comments">
          <%= post.total %>
        </div>
        <div id="comments">SOLLICITATIONS</div>
      </div>
    </div>
  <% end %>

  <div class="content-section">

    <div class="context-box">

      <div class="paragraphe-box">
        <h3>Contexte</h3>
          <p class="content-font"><%= post.content %></p>
      </div>
      <div class="icons-box">
        <div class="number-comments-body" id="circle-services">
          <div id="number-comments-body">
            <%= post.total %>
          </div>
          <div id="comments-body">SOLLICITATIONS</div>
        </div>
        <div class="social-box">
          <div class="mail">
            <div><i class="fas fa-envelope"></i></div>
            <div><%= post.number %></div>
          </div>
          <div class="social-media">
            <div><i class="fab fa-twitter" id="social-media-icon"></i></div>
            <div><%= post.social_media %></div>
          </div>
          <div class="calls">
            <div><i class="fas fa-phone"></i></div>
            <div><%= post.phone_contact %></div>
          </div>
        </div>
      </div>

    </div>

    <div class="solution-box" id="box-color">
      <h3>Solution</h3>
        <p class="content-font"><%= post.solution %></p>
    </div>

    <div class="edit-box">
      <% if user_signed_in? %>
        <%= link_to "Éditer", edit_post_path(post), :class => 'edit-button', :id => 'edit-color' %>
        <%= link_to "Supprimer", post_path(post), :class => 'edit-button', :id => 'edit-color', method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
      <% end %>
    </div>

  </div>
<% end %>

