<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<p>Mail : <%= @post.number %></p>
<p>Réseaux sociaux : <%= @post.social_media %></p>
<p>Appels : <%= @post.phone_contact %></p>
<p>Total : <%= @post.total %></p>

<%= link_to 'Éditer', edit_post_path(@post) %>
<%= link_to 'Supprimer', post_path(@post), method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
