<!DOCTYPE html>
<html>
  <head>
    <title>JournalDesParisien</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <h1><%= link_to 'Journal des Parisiens', root_path %></h1>
      <h2><%= link_to 'ACTU DE LA SEMAINE', root_path %></h2>
      <h2><%= link_to 'SERVICES', services_path %></h2>
      <h2><%= link_to 'SUGGESTIONS ET SIGNAUX FAIBLES', sugestions_path %></h2>
      <h2><%= link_to 'CONTACT', contact_path %></h2>
    </div>
    <%= yield %>
  </body>
</html>
